<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>PhilWiki - users </title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
</head>
<body>
<h1 class = "welcome"> <%= "#{@user['name']}" %>'s user Page </h1> 

<div class = "container">
	<div class = "row"> 
		<div class = "six columns">
			<img class = "general_image" src= "<%= "#{@user['image']}" %>" alt = "user_image">
		</div>
		<div class = "six columns center">
			Number of Articles: <%= "#{@user['num_articles']}" %> </a> 
			<br>
			Profile <%= "#{@user['profile']}" %>
		</div>
	</div>
</div>
<br>
<h3 class = "welcome"> Articles Written by <%= "#{@user['user_name']}" %> </h1>
<div class = "container">
		<% @articles.each do |article| %>
	<div class = "row">
		<div class = "six columns">
			<img class = "general_image" src= "<%= "#{article['image']}" %>" alt = "article_image">
			<br>
			<br>
		</div>
		<br>
	    <div class = "six columns center">	
				Title: <%="#{article['title']}" %>
				<br>
				Category:  <%="#{article['category']}" %>
				<br>
				<p> <%= "#{article['body']}" %> </p>
		
		</div>
	</div>
	<% end %>
</div>
<br>

</body>
</html>